.container {
    background-color: #DAD8D8;
    margin: 40px;
    padding: 20px;
    max-width: 1000px;
    max-height: 900px;
    border-color: #404c58;
    font-family: 'Sora', sans-serif;
}

.rounded-circle {
    background-color: white;
    margin: 50px 0px 0px 0px;
    border-radius: 50%;
    width: 450px;
    height: 450px;
    border-style: solid;
    border-color: #404c58;
}

#dailyWeatherHeading {
    padding-top: 40px;
}

.blue-drop-pin {
    padding: 0px;
}

#TodaysDate {
    text-align: center;
}

#realWeatherInfo {
    text-align: center;
}

.column2 {
    padding: 0px 30px 10px 20px;
}

.dailyWeatherHeading {
    text-align: center;
    position: relative;
    left: 80px;
    margin-top: 20px;
}

p.minMaxTemp {
    padding: 0 auto;
    margin: 0 auto;
}

p.next-day {
    font-weight: bolder;
    margin-top: 40px;
    margin-bottom: 0px;
    color: #91092A;
    font-size: 20px;
}

#styleRows {
    border-radius: 40px;
    background-color: white;
}

.currentLocation,
#describeWeather {
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
    color: #91092A;
}

.currentTemp {
    font-size: 40px;
}

#describeWeather {
    font-style: italic;
    font-size: 30px;
    margin-top: 10px;
}

#fahrenheit-link,
#celsius-link {
    text-decoration: none;
}

.daily-describeWeather {
    margin-top: 10px;
}